
<div class="form-group pt-5">
    <label for="GetInfoContract">Получить информацию о договоре страхования</label>
    <input type="text" name="GetInfoContract" id="GetInfoContract"/>
    <div id="loadBankContractInfo" class=" btn btn-primary">Загрузить</div>
</div>
<div id="ContractInfo">
    
</div>