<div class="form-group pt-5">
    <label for="infoContract">Получить информацию об ипотечном договоре</label>
    <input type="text" name="infoContract" id="GetInfoInsurance" />
    <div id="loadInsuranceInfo" class=" btn btn-primary">Загрузить</div>
</div>
<div id="InsuranceInfo">

</div>