@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Создайте новый аккаунт.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.TypeUser"></label>
                <select class="chosen-select-status" asp-for="Input.TypeUser" id="TypeStatus" style="width: 100%;"
                        asp-items="Html.GetEnumSelectList<InsuranceRelevance.Models.TypeUser>()">
                </select>
                <span asp-validation-for="Input.TypeUser" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col InputBIK">
                    <label class="InputBIK" asp-for="Input.BIK"></label>
                    <input class="InputBIK form-control" asp-for="Input.BIK"/>
                    <span class="InputBIK text-danger" asp-validation-for="Input.BIK"></span>
                </div>
                <div class="col InputLicenseNumber">
                    <label class="InputLicenseNumber" asp-for="Input.LicenseNumber"></label>
                    <input asp-for="Input.LicenseNumber" class="form-control InputLicenseNumber" />
                    <span asp-validation-for="Input.LicenseNumber" class="text-danger InputLicenseNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрировать</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
